$color-yellow: #FEF0D5;
$color-blue: #235C55;
$color-red: #D81E5D;
$color-grey: #DBDBDB;
$color-greydark: #535154;
$color-oncherry: #201105;

$font-header: 'Roboto Condensed',
sans-serif;
$calendar-gap: 20px;
$width-small: 450px;
